mixin checkmark

	svg.o-icon.o-icon--checkmark.js-checkmark(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewbox="0 0 98.5 98.5", enable-background="new 0 0 98.5 98.5", xml:space="preserve")
		g
			polyline.o-icon--checkmark__check(fill="none", points="26.7,54.4 40,67.7 71.8,34.8 ", stroke-width="8", stroke-miterlimit="2")
			g
				circle.o-icon--checkmark__circle(fill="none", stroke-width="12", stroke-miterlimit="10", cx="49.2", cy="49.2", r="49.2")

mixin client (client)

	li.c-clients__list__item
		+client-logo(client.toLowerCase().replace(" ", "-"))
		span.c-clients__list__item__text= client

mixin client-logo(client)

	svg.c-clients__list__item__logo.js-client-logo(viewBox="0 0 32 32")
		use(xlink:href="#icon--#{client}-logo")

mixin contact-list-item(item)

	li.c-introduction__contact-list__item
		a.c-introduction__contact-list__item__link(href="#{item.href}", title="#{item.title}")
			span.c-introduction__contact-list__item__text!= item.text
			+icon(item.icon)

mixin form-check

	svg.o-icon.o-icon--check.o-form__check(viewBox="0 0 32 32")
		use(xlink:href="#icon--check")

mixin icon(name)

	svg.o-icon(class="o-icon--#{name}", viewBox="0 0 32 32")
		use(xlink:href="#icon--#{name}")

mixin section-end(colour)

	svg.o-section__end(height="100px", id="Layer_1", preserveAspectRatio="none", role="separator", viewBox="0 0 612 100", version="1.1", width="100%", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xml:space="preserve")
		g
			path(d="M612,0H0.912C306.459,100,489.777,100,612,0z")