head

	title
		block title

	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="description", content="#{description}")
	meta(name="author", content="Your Name")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="robots", content="index,follow")
	meta(name="twitter:card", content="summary")
	meta(name="twitter:site", content="@you")
	meta(name="twitter:site:id", content="00000000")
	meta(name="twitter:creator", content="@you")
	meta(name="twitter:creator:id", content="00000000")
	meta(name="twitter:url", property="og:url", content="#{url}")
	meta(name="twitter:title", property="og:title", content="Page Title")
	meta(name="twitter:description", property="og:description", content="#{description}")
	meta(name="twitter:image", property="og:image", content="#{url}/images/icon.png")

	link(rel="canonical", href="#{url}")
	//- link(rel="alternate amphtml", type="text/html", href="#{url}/amp")
	link(rel="me", href="mailto:your@email.com")
	link(rel="me", href="sms:+000000000000")
	link(rel="webmention", href="#{url}/webmention")
	link(rel="authorization_endpoint", href="https://indieauth.com/auth")
	link(rel="authorization_endpoint", href="https://indiecert.net/auth")
	link(rel="token_endpoint", href="https://tokens.indieauth.com/token")
	link(rel="token_endpoint", href="https://indiecert.net/token")
	link(rel="micropub", href="#{url}/micropub")
	link(rel="search", type="application/opensearchdescription+xml", href="#{url}/opensearch.xml", title="Adactio")
	link(rel="openid.server", href="https://indieauth.com/openid")
	link(rel="openid.delegate", href="#{url}/")
	//- link(rel="alternate", type="application/rss+xml", title="Journal RSS", href="/rss")
	link(rel="author", href="/about/me", title="About Your Name")
	link(rel="shortcut icon", type="image/ico", href="/images/favicon.ico")
	link(rel="shortcut icon", type="image/png", href="/images/icon.png")
	link(rel="apple-touch-icon", type="image/png", href="/images/icon.png")
	link(rel="manifest", href="/manifest.json")

	block meta

	// build:css styles/main.min.cs
	link(rel="stylesheet", href="/styles/main.css")
	// endbuild

	block styles