<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.name %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index,follow">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.twitterUsername %>">
    <meta name="twitter:site:id" content="<%= htmlWebpackPlugin.options.twitterID %>">
    <meta name="twitter:creator" content="<%= htmlWebpackPlugin.options.twitterUsername %>">
    <meta name="twitter:creator:id" content="<%= htmlWebpackPlugin.options.twitterID %>">
    <meta name="twitter:url" property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
    <meta name="twitter:title" property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="twitter:image" property="og:image" content="<%= htmlWebpackPlugin.options.image %>">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %><link href="<%= webpack.assetsByChunkName['main'][1] %>" rel="stylesheet"><% } %>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.url %>">
    <link rel="alternate amphtml" href="<%= htmlWebpackPlugin.options.url %>/amp" type="text/html">
    <link rel="me" href="mailto:<%= htmlWebpackPlugin.options.email %>">
    <link rel="me" href="sms:<%= htmlWebpackPlugin.options.phone %>">
    <link rel="me" href="<%= htmlWebpackPlugin.options.github %>">
    <link rel="me" href="<%= htmlWebpackPlugin.options.twitterURL %>">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="authorization_endpoint" href="https://indiecert.net/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="token_endpoint" href="https://indiecert.net/token">
    <link rel="openid.server" href="https://indieauth.com/openid">
    <link rel="openid.delegate" href="<%= htmlWebpackPlugin.options.url %>">
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/ico">
    <link rel="shortcut icon" href="/images/icons/favicon-96x96.png" type="image/png">
    <link rel="apple-touch-icon" href="/images/icons/favicon-96x96.png" type="image/png">
    <link rel="manifest" href="/manifest.json">

    <script>WebFontConfig={active:function(){sessionStorage.fonts=!0},google:{families:["Montserrat:900", "Source Sans Pro:300, 600"]}},function(){sessionStorage.fonts?(console.info("Fonts installed"),document.documentElement.classList.add("wf-active")):console.info("No fonts installed")}();</script>
    <script async defer src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <link rel="preconnect" crossorigin href="https://fonts.googleapis.com/css?family=Montserrat:900">
    <link rel="preconnect" crossorigin href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 600">

  </head>

  <body>

    <%= htmlWebpackPlugin.options.iconSprite %>

    <main>

      <noscript>
        <p>It seems you have JavaScript turned off, which is rather unfortunate. If you have any problems using this website then please let me know: <a href="mailto:<%= htmlWebpackPlugin.options.email %>" title="Email me"><%= htmlWebpackPlugin.options.email %></a></p>
      </noscript>

      <section aria-labelledby="title" class="c-hero u-centered-text u-padding" id="introduction" itemscope itemtype="http://schema.org/Person">

        <meta itemprop="url" content="<%= htmlWebpackPlugin.options.url %>">

        <img alt="Picture of me, Darryl Snow" itemprop="image" src="<%= htmlWebpackPlugin.options.image %>" class="o-image o-image--rounded c-hero-image">

        <h1 class="c-hero-title js-color-change u-no-margin" id="title" itemprop="name"><%= htmlWebpackPlugin.options.name %></h1>

        <p class="c-hero-tagline u-no-margin">
          <span itemprop="jobTitle">Web Expert</span>
          &nbsp;&bull;&nbsp;
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressCountry">Singapore</span>
          </span>
        </p>

        <aside class="c-hero-status o-pill o-pill--grey u-inline u-margin--top ">Unavailable for freelance work</aside>

        <ul class="o-list o-list--unstyled c-hero-contact-list">

          <li class="o-list c-hero-contact-list-item u-inline-block">
            <a href="mailto:<%= htmlWebpackPlugin.options.email %>" title="Email me: <%= htmlWebpackPlugin.options.email %>" class="o-link o-link--icon">
              <span itemprop="email" class="u-visually-hidden"><%= htmlWebpackPlugin.options.email %></span>
              <svg viewBox="0 0 32 32" class="o-icon">
                <use xlink:href="#icon-email"></use>
              </svg>
            </a>
          </li>

          <li class="o-list c-hero-contact-list-item u-inline-block">
            <a href="tel:<%= htmlWebpackPlugin.options.phone %>" title="Phone me: <%= htmlWebpackPlugin.options.phone %>" class="o-link o-link--icon">
              <span itemprop="telephone" class="u-visually-hidden"><%= htmlWebpackPlugin.options.phone %></span>
              <svg viewBox="0 0 32 32" class="o-icon">
                <use xlink:href="#icon-phone"></use>
              </svg>
            </a>
          </li>

          <li class="o-list c-hero-contact-list-item u-inline-block">
            <a href="<%= htmlWebpackPlugin.options.github %>" title="Follow me on Github: <%= htmlWebpackPlugin.options.github %>" class="o-link o-link--icon">
              <span class="u-visually-hidden"><%= htmlWebpackPlugin.options.github %></span>
              <svg viewBox="0 0 32 32" class="o-icon">
                <use xlink:href="#icon-github"></use>
              </svg>
            </a>
          </li>

          <li class="o-list c-hero-contact-list-item u-inline-block">
            <a href="<%= htmlWebpackPlugin.options.linkedin %>" title="Read my Linkedin profile: <%= htmlWebpackPlugin.options.linkedin %>" class="o-link o-link--icon">
              <span class="u-visually-hidden"><%= htmlWebpackPlugin.options.linkedin %></span>
              <svg viewBox="0 0 32 32" class="o-icon">
                <use xlink:href="#icon-phone"></use>
              </svg>
            </a>
          </li>

        </ul>

      </section>

      <section class="c-description js-color-change u-centered-text u-padding">

        <h2 class="c-description-title">I am a Certified Scrum Product Owner</h2>

      </section>

      <section class="c-blog u-padding">

        <h2 class="c-blog-title">A few of my blog posts&hellip;</h2>

        <ul class="o-list c-blog-article-list">
          <li class="o-list-item c-blog-article-list-item">
            <a class="o-link c-blog-link" href="" title="">Post 1</a>
          </li>
          <li class="o-list-item c-blog-article-list-item">
            <a class="o-link c-blog-link" href="" title="">Post 1</a>
          </li>
          <li class="o-list-item c-blog-article-list-item">
            <a class="o-link c-blog-link" href="" title="">Post 1</a>
          </li>
          <li class="o-list-item c-blog-article-list-item">
            <a class="o-link c-blog-link" href="" title="">Post 1</a>
          </li>
          <li class="o-list-item c-blog-article-list-item">
            <a class="o-link c-blog-link" href="" title="">Post 1</a>
          </li>
        </ul>

      </section>

    </main>

    <!-- keep the following lines -->
    <% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %><script src="<%= Object.prototype.toString.call(webpack.assetsByChunkName['bundle']) === '[object Array]' ? webpack.assetsByChunkName['bundle'][0] : webpack.assetsByChunkName['bundle'] %>"></script><% } %>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= htmlWebpackPlugin.options.analytics %>']);
      _gaq.push(['_setDomainName', '<%= htmlWebpackPlugin.options.domain %>']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>

</html><%= htmlWebpackPlugin.options.BANNER_HTML %>
